name: shiv_bhajan_app
description: Shiv Bhajan Audio App
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
